:root {
    --fourthColor: rgb(248, 241, 240);
}

.section-cards {
    background-color: var(--fourthColor);
    padding: 1rem;
}

.cards-container {
    background-color: var(--fourthColor);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}