/*-----------------------------------------*/
/*HEADER*/
/*-----------------------------------------*/

:root {
  --firstColor: rgb(231, 195, 187);
  --secondColor: rgb(174, 144, 139);
  --thirdColor: rgb(48, 54, 23);
  --fourthColor: rgb(248, 241, 240);
  --fifthColor: black;
}

.main-header {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--fourthColor);
  box-shadow: 0px 8px 20px var(--firstColor);
  position: relative;
  z-index: 10;

  @media screen and (min-width: 992px) {
    & {
      flex-direction: column;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
    background-color: var(--secondColor);
  }
}

/*-----------------------------------------*/
/* NAVBAR*/
/*-----------------------------------------*/

.nav-bar {
  background-color: var(--fourthColor);
  display: none;

  &__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;

    @media screen and (min-width: 992px) {
      & {
        flex-direction: row;
      }
    }
  }

  &__nav-item {
    text-align: center;
  }

  &__nav-link {
    display: block;
    background-color: var(--fourthColor);
    padding: 1rem 2rem;
    color: var(--fifthColor);
    text-decoration: none;

    &:hover {
      text-shadow: 3px 3px 10px var(--fifthColor);
      color: var(--fourthColor);
    }
  }

  @media screen and (min-width: 992px) {
    & {
      display: block;
    }
  }
}

/*-----------------------------------------*/
/* SEARCH BAR*/
/*-----------------------------------------*/

.search-bar {
  display: flex;
  background-color: var(--fourthColor);
  justify-content: space-around;

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--thirdColor);
    margin-left: 10px;
  }

  &__mode {
    background-color: var(--firstColor);
    border: none;
  }

  &__form-container {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
    text-align: center;
  }

  &__form-label {
    background-color: var(--firstColor);
    color: var(--fifthColor);
    display: none;
  }

  &__form-search {
    background-color: var(--fourthColor);
    border-radius: 5px;
    color: var(--fifthColor);
    width: 200px;
    margin: auto;
  }

  &__form-submit {
    background-color: var(--fourthColor);
    padding: 5px;
    border-radius: 5px;
    color: var(--fifthColor);
    width: 100px;
    height: 30px;
    margin: auto;
  }

  &__carrito-container {
    flex: 0 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fifthColor);
  }
}

/*-----------------------------------------*/
/* MENU TOOGLE*/
/*-----------------------------------------*/

.menu-toogle {
  display: block;
  flex: 0 0 3rem;
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: var(--firstColor);
    height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
    display: block;
    background-color: #f8f4f4;
    height: 0.2rem;
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
  }

  &__top-bread {
    top: 0.8rem;
  }

  &__meat {
    top: 50%;
    margin-top: -0.1rem;
  }

  &__bottom-bread {
    bottom: 0.8rem;
  }

  @media screen and (min-width: 992px) {
    & {
      display: none;
    }
  }
}
