/*-----------------------------------------*/
/*HEADER*/
/*-----------------------------------------*/

:root {
  --firstColor: rgb(231, 195, 187);
  --secondColor: rgb(84,89,49);
  --thirdColor: rgb(166,183,103);
  --fourthColor: rgb(248, 241, 240);
  --fifthColor: black;
}

.main-header {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--firstColor);
 
  

  @media screen and (min-width: 992px){
    & {
      flex-direction: column;
    }
  }
}


#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
    background-color: var(--secondColor);
  }
}

/*-----------------------------------------*/
/* NAVBAR*/
/*-----------------------------------------*/

.nav-bar {
  background-color: var(--firstColor);
   display: none;

  &__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;

    @media screen and (min-width: 992px){
     & {
      flex-direction: row;
     }
    }
  }

  &__nav-item {
    text-align: center;
  }

  &__nav-link {
    display: block;
    background-color: var(--firstColor);
    padding: 1rem 2rem;
    color: var(--fifthColor);
    text-decoration: none;

    &:hover {
        text-shadow: 3px 3px 10px var(--fifthColor);
        color: var(--fourthColor);
    }

  }

  @media screen and (min-width: 992px){
    & {
      display: block;
    }
  }
}

/*-----------------------------------------*/
/* SEARCH BAR*/
/*-----------------------------------------*/

.search-bar {
  display: flex;
  background-color: var(--firstColor);
  justify-content: space-around;
  // margin-left: 10px;

  &__logo-container {
    // width: 30px;
    // height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fifthColor);
  }

  &__mode {
    background-color: var(--firstColor);
    border: none;
  }

  &__form-container {
    padding: 1rem;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    gap: 1em;
  }

  &__form-label {
    background-color: var(--firstColor);
    color: var(--fifthColor);
  }

  &__form-search {
    background-color: var(--firstColor);
    border-radius: 5px;
    color: var(--fifthColor);
  }

  &__form-submit {
    background-color: var(--firstColor);
    padding: 5px;
    border-radius: 5px;
    color: var(--fifthColor);
  }

  &__carrito-container {
    flex: 0 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fifthColor);
  }
}

/*-----------------------------------------*/
/* MENU TOOGLE*/
/*-----------------------------------------*/

.menu-toogle {
    display: block;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer;

    &__label {
        display: block;
        background-color: var(--thirdColor);
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #f8f4f4;
        height: .2rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
    }

    &__top-bread {
        top: .8rem;
    }

    &__meat {
        top: 50%;
        margin-top: -.1rem;
    }

    &__bottom-bread {
        bottom: .8rem;
    }

    @media screen and (min-width: 992px){
      & {
        display: none;
      }
      
    }
}